* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#24002a, #3a005e);
    min-height: 100vh;
    width: 100%;
}

h1 {
    font-size: 3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: violet;
    text-align: center;
}